body {
    font-family: Arial, sans-serif;
    background-image: url(../images/Admin_side_image.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    background-size: 1920px 1080px;
}

.reset-container {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 300px;
    text-align: left;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-top: 2px;
    margin-bottom: 3px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4f5fbb;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #102892;
    transition: 0.3s;
}

.back-to-login {
    margin-top: 10px;
}

.back-to-login a {
    color: #4f5fbb;
    text-decoration: none;
}

.back-to-login a:hover {
    text-decoration: underline;
}