body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    margin: 10px auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 30%;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-item button {
    background-color: #2b2088;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.product-item button:hover {
    background-color: #3779cf;
}

.footer-container {
    background-color: #2a1f85;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 0 0 8px 8px;
    margin-top: 20px;
}

.footer-container a {
    color: #0a5efa;
    text-decoration: none;
    margin: 0 10px;
}

.footer-container a:hover {
    text-decoration: underline;
}